
body{
    /* Je veux faire un dégradé de couleur partant de #51333D à #181E41 */
    background: linear-gradient(to right, #51333D, #181E41);
}

.logo{
    border-color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px 10px;
    font-weight: bold;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navgauche{
    align-items: left;
    align-content: left;
}
.navgauche span:hover{
    cursor: pointer;
    color: red;
}

.navdroite{
    display: flex;
    align-items: right;
    align-content: right;
}

.navdroite ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.navdroite ul li:hover{
    cursor: pointer;
    color: red;
}

